body{
	font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	color: #818181;
}

/* FORMATANDO O JUMBOTRON*/
.jumbotron{
	background-color:#c41f79;
	color: #fff;
	padding: 100px 25px;
	font-family: Montserrat, sans-serif;
}


/* FORMATANDO O CONTAINER-FLUID*/



.container-fluid{
	padding: 60px 50px;
}

/*ESTILZANDO CORES NA CLASS BG-GREY*/



.bg-grey{
	background-color: #f6f6f6;
}



/* FORMATANDO O LOGO SIGNAL E GLOBE*/


.logo{
	font-size: 200px;
	color: #c41f79;
}



@media screen  and  (max-width: 768px){

	.col-sm-4{
		text-align: center;
		margin: 25px 0;
	}

	
}






/* FORMATANDO A SESSÃO DE SERVIÇOS */



.logo-small{
	color: #c41f79;
	font-size: 50px;
}






/* FORMATANDO A CLASS THUMBNAIL IMAGENS EM MINIATURA */



.thumbnail{
	padding:0  0 15px 0;
	border: none;
	border-radius: 0;
}


.thumbnail img{
	width: 100%;
	height: 100%;
	margin-bottom: 10px;

}






/* FORMATANDO O CAROUSEL */


.carousel-control.right,
.carousel-control.left {
	background-image: none;
	color: #c41f79;


}


.carousel-indicators li{
	border-color: #c41f79;
}



.carousel-indicators li.active{
	background-color: #c41f79;
}



.item h4{
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}



.item span{
	font-style: italic;
}






/* FORMATANDO O PAINEL DE PREÇOS*/


.panel{
	border: 1px solid #c41f79;
	border-radius: 0;
	transition: box-shadow 0.5s;
}


.panel:hover{
	box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);

}



.panel-footer .btn:hover{
	border: 1px solid #c41f79;
	background-color: #fff !important;
	color: #c41f79;
}



.panel-footer{
	background-color: #fff !important;
}


.panel-footer h3{
	font-size: 32px;
}



.panel-footer h4{
	font-size: 16px;
	color: black;
}


.panel-footer .btn{
	margin: 15px 0;
	background-color: #c41f79;
	color: #fff;
}

.panel-heading{
	color: #fff !important;
	background-color: #c41f79 !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}








/*----FORMATANDO O PANEL-BODY----*/





.panel-body span{
	line-height: 10px;
	letter-spacing: 10px;

}



.css{
	font-size: 20px;
}



.ponto{
	background-color: #c41f79;
	color: #fff;

}






/*-----FORMATANDO A BARRA DE NAVEGAÇÃO------*/



.navbar{
	margin-bottom: 0;
	background-color: #c41f79;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}




.navbar li a, .navbar .navbar-brand{
	color: #fff !important;
}



.navbar-nav li a:hover, .navbar-nav li.active a{
	color: #c41f79 !important;
	background-color: #fff !important;
}


.navbar-default .navbar-toggle{
	border-color: transparent;
	color: #fff !important;
}



/* FORMATANDO O FOOTER */


footer {
    background-color: #c41f79;
    color:  #f5f5f5;
    padding: 32px;
}



footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}


footer .glyphicon{
	font-size:40px;
}


.centro{
	font-size: 20px;
}



h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}



/*EFEITO DE ANIMAÇÃO QUE IRÁ DESLIZAR ELEMENTOS NA ROLAGEM*/






.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

